{% extends 'base.html' %}

{% block title %}Password Change Done{% endblock title %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white"><h2>PASSWORD CHANGED</h2></div>
                <div class="card-body">
                    <p>You can enter the site with your new password!</p>
                    <a href="{% url 'home' %}" class="btn btn-success">Back to the home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}