{% extends 'base.html' %}

{% block title %}
password reset form
{% endblock title %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h2 class="text-center mb-4">PASSWORD RESET</h2></div>
                <div class="card-body">
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.email.label_tag }}<br>
                            {{ form.email }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">RESET PASSWORD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}