{% extends 'base.html' %}

{% block title %}Password Change Form{% endblock title %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white"><h2>PASSWORD CHANGE</h2></div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}
                        </div>
                        <div class="form-group">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                            <p class="small">Your password must contain at least 8 characters.
                                <br>Your password can’t be a commonly used password.
                                <br>Your password can’t be entirely numeric.</p>
                        </div>
                        <div class="form-group">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                        </div>
                        <button type="submit" class="btn btn-success">CHANGE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}